@model IEnumerable<IssueTracker.Models.IssueModel>

@{
    ViewBag.Title = "Issues";
}


<div class="row">
    <div class="col-md">
        <div class="page-header"><h2>@ViewBag.Title</h2></div>
    </div>
</div>
<div class="row">
    <div class="col-md">
        <p>
            @Html.ActionLink("Create New", "Create")
        </p>
    </div>
</div>
<div class="row">
    <div class="col-md">
        <table class="table custom-table-hover">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.IssueName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Priority)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Description)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Status)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Progress)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.AddedUsers[0].Name)
                </th>
                <th><!--Details--></th>
                <th><!--Edit--></th>
                <th><!--Delete--></th>
            </tr>

            @foreach (var item in Model)
            {
                //set color of the progress bar and the date type based on the status of the issue
                string progressBgcolor;
                DateTime date;
                string dateTypeDisplayName;
                switch (item.Status)
                {
                    case IssueTracker.Models.IssueStatus.Suspended:
                        progressBgcolor ="bg-danger";
                        date = item.StartingDate;
                        dateTypeDisplayName = "Start Date";
                        break;
                    case IssueTracker.Models.IssueStatus.Finished:
                        progressBgcolor = "bg-success";
                        date = item.FinishingDate;
                        dateTypeDisplayName = "Finish Date";
                        break;
                    case IssueTracker.Models.IssueStatus.Created:
                        progressBgcolor = "bg-info";
                        date = item.CreationDate;
                        dateTypeDisplayName = "Creation Date";
                        break;
                    default:
                        progressBgcolor = "bg-info";
                        date = item.StartingDate;
                        dateTypeDisplayName = "Start Date";
                        break;
                }
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.IssueName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Priority)
                </td>
                <td>
                    <div class="text-truncate shortDecriptionTd">
                        @Html.DisplayFor(modelItem => item.Description)
                    </div>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Status)
                </td>
                <td>
                    <div class="progress">
                        <div class="progress-bar @progressBgcolor"
                             role="progressbar"
                             style="width: @(item.Progress*100)%"
                             aria-valuenow="@item.Progress" aria-valuemin="0" aria-valuemax="1"></div>
                    </div>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AddedUsers[0].Name)
                </td>
                <td class="actionTD">
                    <!-- DETAILS -->
                    <a href="#@item.IssueName" data-toggle="collapse" aria-expanded="false">
                        <svg width="1em" height="1em" viewBox="0 0 16 16" class="rotatingCaret bi bi - caret - down - fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                            <path d="M7.247 11.14L2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z" />
                        </svg>
                    </a>
                </td>
                <td class="actionTD">
                    <a href="@Url.Action("Edit", "Issue")">
                        <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-pencil" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" d="M11.293 1.293a1 1 0 0 1 1.414 0l2 2a1 1 0 0 1 0 1.414l-9 9a1 1 0 0 1-.39.242l-3 1a1 1 0 0 1-1.266-1.265l1-3a1 1 0 0 1 .242-.391l9-9zM12 2l2 2-9 9-3 1 1-3 9-9z" />
                            <path fill-rule="evenodd" d="M12.146 6.354l-2.5-2.5.708-.708 2.5 2.5-.707.708zM3 10v.5a.5.5 0 0 0 .5.5H4v.5a.5.5 0 0 0 .5.5H5v.5a.5.5 0 0 0 .5.5H6v-1.5a.5.5 0 0 0-.5-.5H5v-.5a.5.5 0 0 0-.5-.5H3z" />
                        </svg>
                    </a>
                </td>
                <td class="actionTD">
                    <a href="@Url.Action("Delete", "Issue")">
                        <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-x" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" d="M11.854 4.146a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708-.708l7-7a.5.5 0 0 1 .708 0z" />
                            <path fill-rule="evenodd" d="M4.146 4.146a.5.5 0 0 0 0 .708l7 7a.5.5 0 0 0 .708-.708l-7-7a.5.5 0 0 0-.708 0z" />
                        </svg>
                    </a>
                </td>
            </tr>
            <tr class="collapsing-tr">
                <!-- More details of the issue -->
                <td colspan="9" class="w-100"> <!-- w-100 prevents column shifting when the row rolls down -->
                    <div class="collapse" id="@item.IssueName">
                        <!--TODO: IssueID instead of name! -> also in the details <a> tag-->
                        <div class="p-2">
                            <div class="row">
                                <div class="col-md pb-3">
                                    @item.Description
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md">
                                    <strong> @dateTypeDisplayName:</strong> @date <br />
                                    @if (item.DeadLine == default(DateTime))
                                    {
                                        <text>No deadline for this issue </text>
                                    }
                                    else
                                    {
                                        <strong>@Html.DisplayNameFor(model => model.DeadLine):</strong> @item.DeadLine
                                    }

                                </div>
                                <div class="col-md-3 text-right">
                                    <strong># of sub issues:</strong> @( item.SubIssues == null ? 0:item.SubIssues.Count ) <br />
                                    <a href="#" class="btn btn-info btn-sm">Details »</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </td>
            </tr>
            }

        </table>
    </div>
</div>

@section scripts{
    <script>
        $(document).ready(function () {

            /* Rotate the caret on click */
            $(".rotatingCaret").click(function() {
                $(this).toggleClass("flipCaret");
            });

        });
    </script>
}